@import "../../styles/breakpoints.scss";

.about-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @include device(desktop) {
    flex-direction: row;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-style: italic;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  img {
    min-width: 280px;
    max-width: 400px;
  }

  strong {
    font-style: italic;
    font-size: 22px;
    font-weight: 700;
  }

  &__rhyme {
    padding-top: 10px;
    // border: 7px;
    // border-style: double;
    // border-color: var(--dark-background-color);

    @include device(desktop) {
      padding-top: 0px;
    }

    p {
      font-style: italic;
      font-weight: 600;
      min-width: 290px;

      @include device(desktop) {
        padding-top: 20px;
      }
    }
  }
}
