@import "../../styles/breakpoints.scss";

.about-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @include device(desktop) {
    flex-direction: row;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  img {
    min-width: 280px;
    max-width: 400px;
  }
}
