---
import "./about-us.scss";

import { Content as AboutUsContent } from "../../content/about-us.md";
import { Image } from "@astrojs/image/components";
---

<div class="about-us container">
  <div class="about-us__text"><AboutUsContent /></div>
  <div class="about-us__image">
    <Image
      src="https://www.amcharts.com/wp-content/uploads/2019/02/demo_13349_none-7.png"
      width={600}
      height={600}
      aspectRatio="1:1"
      format="avif"
      alt="O nas"
    />
  </div>
</div>
