@import "../../styles/breakpoints.scss";

.whatToSee {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &__headline {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    font-style: italic;
  }

  &__columns-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include device(tablet) {
      flex-direction: row;
    }
  }

  &__column {
    flex: 1;
  }

  &__category-wrap {
    display: flex;
    align-items: center;
  }

  &__category-icon {
    margin-right: 10px;
    width: 30px;
  }

  &__category-title {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
  }

  &__item-text {
    font-size: 20px;
    line-height: 1.5;
    padding-right: 6px;
  }

  &__item-distance {
    padding-left: 3px;
    font-style: italic;
  }
}
