---
import "./whatToSee.scss";
import { Sprite } from "astro-icon";

const columns = [
  [
    {
      icon: "mdi:pine-tree",
      title: "Przyroda",
      items: [
        { text: "Jezioro Żywieckie", link: "", distance: "15" },
        { text: "Babia Góra", link: "", distance: "60" },
        { text: "Szczyrk", link: "", distance: "50" },
        {
          text: "Skrzyczne",
          link: "https://goo.gl/maps/gLz3KTrjXtMm2s3K6",
          distance: "75",
        },
        {
          text: "Wisła",
          link: "https://goo.gl/maps/LE4s37fjUCeNVTJL8",
          distance: "80",
        },
      ],
    },
    {
      icon: "mdi:castle",
      title: "Muzea i zamki",
      items: [
        {
          text: "Park Etnograficzny Ziemi Żywieckiej",
          link: "",
          distance: "6",
        },
        {
          text: "Zamek w Suchej Beskidzkiej",
          link: "",
          distance: "20",
        },
        { text: "Browar Żywiecki", link: "", distance: "30" },
      ],
    },
    {
      icon: "mdi:silverware-fork-knife",
      title: "Restauracje",
      items: [
        {
          text: "Gospoda - domowe zestawy obiadowe",
          link: "https://goo.gl/maps/q7KwPEzWQcCi6Af79",
          distance: "9",
        },
        {
          text: "Strażnica - pyszne i niedrogie dania",
          link: "",
          distance: "9",
        },
      ],
    },
    {
      icon: "mdi:shopping-outline",
      title: "Najbliższy sklep",
      items: [
        {
          text: "Ślemień",
          link: "https://goo.gl/maps/PxjPbkeoMZJbPB6j7",
          distance: "8",
        },
      ],
    },
  ],
  [
    {
      icon: "mdi:heart-plus-outline",
      title: "Apteka w Ślemieniu",
      items: [
        {
          text: "Ślemień",
          link: "https://goo.gl/maps/veMd2FqZXDmVTphq9",
          distance: "5",
        },
      ],
    },
    {
      icon: "mdi:ski",
      title: "Stoki narciarskie",
      items: [
        { text: "Szczyrk", distance: "55" },
        { text: "Zawoja", distance: "37" },
        { text: "Korbielów", distance: "40" },
        { text: "Góra Żar", distance: "38" },
      ],
    },
    {
      icon: "mdi:church",
      title: "Kościoły",
      items: [
        {
          text: "Kościół pw. św. Józefa Robotnika w Kurowie",
          link: "https://goo.gl/maps/rxuigcwB14yq2sef7",
          distance: "5",
        },
        {
          text: "Kościół Narodzenia św. Jana Chrzciciela w Ślemieniu",
          link: "https://goo.gl/maps/bEVtSPDbr6fuJxYP9",
          distance: "8",
        },
      ],
    },
    {
      icon: "mdi:information-variant",
      title: "Inne atrakcje",
      items: [
        {
          text: "Stadnina Koni - KAS-MAR",
          link: "https://goo.gl/maps/FypQaPtLveHSvNrQ6",
          distance: "3",
        },
        {
          text: "Zapora w Tresnej",
          link: "https://goo.gl/maps/TeYJ5aZs1uhFx4oY8",
          distance: "40",
        },
        {
          text: "Zapora w Porąbce",
          link: "https://goo.gl/maps/Q8EhjLAApDrnW4YUA",
          distance: "50",
        },
      ],
    },
  ],
];
---

<div class="whatToSee container">
  <h2 class="whatToSee__headline">Miejsca w okolicy, które warto odwiedzić</h2>
  <div class="whatToSee__columns-wrap">
    {
      columns.map((column) => (
        <div class="whatToSee__column">
          {column.map((category) => (
            <div>
              <div class="whatToSee__category-wrap">
                <span>
                  <Sprite
                    class="whatToSee__category-icon"
                    name={category.icon}
                  />
                </span>
                <h3 class="whatToSee__category-title">{category.title}</h3>
              </div>

              <ul class="whatToSee__category-list">
                {category.items.map((item) => (
                  <li class="whatToSee__item">
                    <span class="whatToSee__item-text">{item.text}</span>
                    <span class="whatToSee__item-distance">
                      -&nbsp;&nbsp;{item.distance}&nbsp;min
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<!-- <Sprite
                      class="whatToSee__list-icon"
                      name={"mdi:menu-right"}
                    /> -->
