---
import { getEntryBySlug } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Carousel from "../components/Carousel.astro";
import Gallery from "../components/gallery/Gallery.astro";
import AboutUs from "../components/aboutUs/AboutUs.astro";
import TouristAttractions from "../components/touristAttractions/TouristAttractions.astro";
import OurOffer from "../components/ourOffer/OurOffer.astro";
import Facilities from "../components/facilities/Facilities.astro";
import WhatToSee from "../components/whatToSee/whatToSee.astro";
---

<Layout title="Witaj w domku na granicy">
  <main>
    <Hero />

    <div id="aboutUs" class="section section--with-light-background">
      <AboutUs />
    </div>
    <div id="gallery" class="section">
      <Gallery />
    </div>

    <div id="ourOffer" class="section section--with-dark-background">
      <OurOffer />
    </div>

    <div class="section section--with-light-background">
      <Facilities />
    </div>

    <div id="touristAttractions" class="section">
      <TouristAttractions />
    </div>

    <div id="whatToSee" class="section section--with-dark-background">
      <WhatToSee />
    </div>
  </main>
</Layout>

<style>
  main {
  }
</style>
