---
import { getEntryBySlug } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Carousel from "../components/Carousel.astro";
import Gallery from "../components/gallery/Gallery.astro";
import AboutUs from "../components/aboutUs/AboutUs.astro";
---

<Layout title="Witaj w domku na granicy">
  <main>
    <Hero />

    <div id="aboutUs" class="section section--with-background">
      <AboutUs />
    </div>
    <div id="gallery" class="section">
      <Gallery />
    </div>
  </main>
</Layout>

<style>
  main {
  }
</style>
