---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    Main content
    <Hero />
    <Carousel />
  </main>
</Layout>

<style>
  main {
  }
</style>
