---
import "./touristAttractions.scss";
import { Image } from "@astrojs/image/components";

const elements = [
  {
    name: "Park Etnograficzny Ziemi Żywieckiej",
    imageURL:
      "https://beskidy.travel/Media/Default/.MainStorage/ContentItemDocumentTypeRecord/1cct4y4k.3h0/file1.jpg",
    imageAlt: "Old house",
    description: `Żywiecki Park Etnograficzny w Ślemieniu jest najmłodszym muzeum typu skansenowego w Polsce i trzecim w Województwie Śląskim.
Odwzorowuje on układ urbanistyczny i zabudowę wsi Beskidu Żywieckiego. 
Na obszarze ponad 6 ha posadowionych zostało już 19 zabytkowych obiektów architektury.`,
  },
  {
    name: "Renesansowy zamek w Suchej Beskidzkiej",
    imageURL: "https://www.trasadlabobasa.pl/image/11641",
    imageAlt: "Castle",
    description: `Zamek w Suchej Beskidzkiej – magnacka rezydencja kolejnych właścicieli dóbr suskich: Castiglione-Suskich, Komorowskich, Wielopolskich, Branickich i Tarnowskich. Nazywany „Małym Wawelem” ze względu na podobieństwo do krakowskiego zamku królewskiego.`,
  },
  {
    name: "Muzeum Browaru Żywiec",
    imageURL:
      "https://muzeumbrowaru.pl/uploads/oryginal/082016/31/89af97e874_browar12.png",
    imageAlt: "Old house",
    description: `Browar żywiecki założony w 1856 r. przez arcyksięcia Albrechta Fryderyka Habsburga, to jeden z najbardziej znanych browarów w Europie. 150 lat później w jego najstarszej, historycznej części swe podwoje otworzyło arcyciekawe muzeum…`,
  },
];
---

<div class="container">
  <ul class="attractions">
    {
      elements.map((element) => (
        <li class="element">
          <figure>
            <div class="element__image">
              <Image
                class="image"
                src={element.imageURL}
                width={370}
                height={294}
                aspectRatio="1:1"
                format="avif"
                alt={element.imageAlt}
              />
              <div class="element__overlay">
                <p class="element__overlay-text">{element.description}</p>
              </div>
            </div>
            <figcaption class="element__textbox">
              <h3 class="element__name">{element.name}</h3>
              <p class="element__link">Więcej...</p>
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</div>
