---
import './header.scss';
import { Sprite } from 'astro-icon';

const items = [
  {
    name: 'Poznaj nas',
    link: '#aboutUs',
  },
  {
    name: 'Galeria',
    link: '#gallery',
  },
  {
    name: 'Oferta',
    link: '#ourOffer',
  },
  {
    name: 'Atrakcje w pobliżu',
    link: '#touristAttractions',
  },
  {
    name: 'Kontakt',
    link: '#contact',
  },
];
---

<header class="header">
  <div class="header__container">
    <div class="logo">
      <a class="link" href="#hero">
        <img src="/images/logo-color.png" alt="page logo" />
      </a>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        {
          items.map((item) => (
            <li class="navigation__item">
              <a href={item.link}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="media-links-container">
      <a class="link" href="./index.html">
        <Sprite class="media-icon" name="tabler:brand-booking" />
      </a>
      <a class="link" href="./index.html">
        <Sprite class="media-icon" name="ic:baseline-facebook" />
      </a>
    </div>

    <div class="header__mobile-switch">
      <button
        class="mobile-menu-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <Sprite name="mdi:menu" />
      </button>
    </div>
  </div>

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="mobile-menu-closing-icon js-close-menu">
      <Sprite name="mdi:close" />
    </button>
    <div class="mobile-menu">
      <ul>
        {
          items.map((item) => (
            <li class="mobile-menu__item">
              <a
                class="mobile-menu__link mobile-menu__link--active js-close-menu"
                href={item.link}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>

      <div class="mobile-menu__media-links-container">
        <a class="mobile-menu__media-link" href="./index.html">
          <Sprite class="mobile-menu__media-icon" name="tabler:brand-booking" />
        </a>
        <a class="mobile-menu__media-link" href="./index.html">
          <Sprite class="mobile-menu__media-icon" name="ic:baseline-facebook" />
        </a>
      </div>
    </div>
  </div>
</header>

<script src="./header.ts"></script>
