@import "../../styles/breakpoints.scss";

.header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0px;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
  }
}

.logo {
  max-width: 150px;
}

.media-icon {
  color: var(--dark-font-color);
}

.navigation {
  width: 100%;
  display: none;
  margin-left: 100px;

  @include device(desktop) {
    display: flex;

    &__list {
      width: 100%;
      display: flex;
    }

    &__item {
      padding: 0 20px;
      color: var(--dark-font-color);
      font-size: 19px;
      font-weight: 500;
    }
  }
}

.media-links-container {
  display: none;
  @include device(desktop) {
    display: flex;
  }
}

.mobile-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--dark-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include device(desktop) {
    display: none;
  }
}

.mobile-menu-closing-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--light-font-color);

  @include device(desktop) {
    display: none;
  }
}

.menu-container {
  background-color: var(--dark-background-color);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  & .mobile-menu-closing-icon {
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: transparent;
    stroke: var(--color-primary-light);
  }

  @include device(tablet) {
    width: 254px;
  }

  @include device(desktop) {
    display: none;
  }
}

.mobile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 80px 30px;
}

.mobile-menu {
  height: 100%;

  &__item {
    padding-bottom: 20px;
  }

  &__link {
    color: var(--light-font-color);
    font-size: 20px;
    text-decoration: none;

    &:focus,
    :active,
    :hover {
      border-bottom: 2px solid var(--light-font-color);
    }
  }

  &__media-links-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  &__media-icon {
    color: var(--light-font-color);
    margin-bottom: 10px;
  }

  &__logo-wrap {
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 150px;
    object-fit: scale-down;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--dark-font-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: var(--dark-font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-mobile-animation {
  display: inline-block;
  position: relative;
  color: var(--light-font-color);
}

.hover-mobile-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: var(--light-font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-mobile-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
