<header class="header">
  <h1 class="header__heading">This is header</h1>
  <p class="header__text">Extra text</p>
  <p class="header__text header__text--secondary">Extra text 2</p>
</header>

<style lang="scss">
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;

    &__heading {
      font-size: 40px;
      font-weight: bold;
    }

    &__text {
      font-size: 20px;

      &--secondary {
        color: #999;
      }
    }
  }
</style>
