<h2>This is hero</h2>
<img
  src="https://ireland.apollo.olxcdn.com/v1/files/7qarmljyc36u1-PL/image;s=2508x1672"
  alt="Domek na granicy"
/>

<style>
  h2 {
    color: blue;
  }

  img {
    width: 100%;
    height: 100%;
  }
</style>
