---
import { Picture } from "@astrojs/image/components";
import { Sprite } from "astro-icon";

const src =
  "https://ireland.apollo.olxcdn.com/v1/files/7qarmljyc36u1-PL/image;s=2508x1672";
const alt = "Domek na granicy";
const ratio = "2:1";
const widths = [400, 800, 1200];
---

<h2>This is hero</h2>

<Sprite name="mdi:account" width="10" />
<Sprite name="icomoon-free:airplane" />
<Sprite name="tabler:brand-booking" />
<Sprite name="mdi:phone" />

<Picture src={src} widths={widths} aspectRatio={ratio} alt={alt} />

<style>
  h2 {
    color: blue;
  }

  img {
    width: 100%;
    height: 100%;
  }

  [astro-icon="icomoon-free:airplane"] {
    color: red;
    width: 12px;
    height: 12px;
  }
</style>
