@import "../../styles/breakpoints.scss";

.footer {
  position: relative;

  &__logo {
    object-fit: contain;
    width: 160px;
    height: 42px;
    position: absolute;
    bottom: 36px;
    left: 50%;
    margin-left: -81px;

    @include device(desktop) {
      width: 215px;
      height: 46px;
      margin-left: -107px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;

    @include device(tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  h2 {
    font-size: 24px;
    padding-bottom: 14px;
  }

  &__text {
    line-height: 1.5;
    color: var(--dark-font-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__location-link {
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;

    @include device(tablet) {
      margin-bottom: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include device(tablet) {
      align-items: flex-start;
    }
  }

  &__bottom {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

    &::after {
      content: "";
      top: 0;
      right: 0;
      width: calc(50% - 85px);
      height: 1px;
      background-color: var(--dark-background-color);

      @include device(tablet) {
        width: calc(50% - 100px);
      }
    }

    &::before {
      content: "";
      top: 0;
      right: 0;
      width: calc(50% - 85px);
      height: 1px;
      background-color: var(--dark-background-color);

      @include device(tablet) {
        width: calc(50% - 100px);
      }
    }
  }

  &__authors {
    @include device(tablet) {
      padding: 0px 40px 20px;
    }
  }

  &__authors-text {
    text-align: center;
    padding-bottom: 10px;

    @include device(tablet) {
      text-align: end;
      padding-bottom: 0;
    }
  }
}
