---
import "./footer.scss";
---

<footer id="contact" class="footer section--with-light-background">
  <div class="footer__container">
    <h2>Lokalizacja</h2>
    <p class="footer__text">ul.Fabryczna 7C</p>
    <p aria-colcount="" class="footer__text">44-293 Szczerbice</p>
    <a class="footer__text footer__location-link" href="">Zobacz lokalizację</a>
  </div>
  <div class="footer__container">
    <h2>Kontakt</h2>
    <p class="footer__text">
      <span>tel.</span>
      <a href="tel:+48 505 505 505">505 505 505</a>
    </p>
    <p class="footer__text">
      <span>e-mail:</span>
      <a href="mailto:domkinagranicy@gmail.com">domkinagranicy@gmail.com</a>
    </p>
  </div>
</footer>
