---
import "./ourOffer.scss";

import { Content as OurOfferContent } from "../../content/our-offer.md";
---

<div class="our-offer container">
  <div class="our-offer__text"><OurOfferContent /></div>
</div>
